
body {
    width: 375px;
    height: 100vh;
    margin: auto;
    background: #E5E5E5;
    position: relative;
}
.login {    /*tela login*/
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}
.nome {
    width: 260px;
    height: 54px;
    margin-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #AEAEAE;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
}
.login button {
    width: 109px;
    height: 45px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #696969;
    border-radius: 9px;
    border-style: none;
    background: #E7E7E7;
}
section {
    width: 375px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1;
}
section img {
    margin-inline-start: 22px;
    margin-inline-end: 25.03px;
}
.barraConversa {
    width: 375px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: flex-end;
    position: fixed;
    bottom: 0px;
}
.barraConversa input {
    width: 299px;
    height: 64px;
    margin-left: 17px;
    margin-bottom: 1px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
}
input {
    font-family: Roboto;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: black;
}
input span {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    color: #AEAEAE;
}
.barraConversa img {   /*substituir por link*/
    width: 26px;
    height: 26px;
    margin: auto;
}
main {
    width: 375px;
    height: 100vh;
    position: absolute;
    top: 80px;
}
main div {
    margin-bottom: 2px;
    word-break: break-word;
}
.msgPrivada{
    background-color: #FFDEDE;
}
.msgPublica {
    background-color: #FFFFFF;
}
.msgStatus {
    background-color: #DCDCDC;
}

.opcoes {   /*menu*/
    width: 375px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
    display: none;
}
nav {   
    width: 259px;
    height: 100vh;
    background: #FFFFFF;
    position: absolute;
    right: 0;
}
nav p {
    width: 259px;
    height: 66px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}
nav div p {
    height: 84px;
}
.grupo {
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.grupo div {
    width: 259px;
    height: max-content;
    display: flex;
    justify-content: flex-end;
}
nav p1 {
    width: 194px;
    height: 36px;
    margin-right: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    position: relative;
}
nav p1 img {
    position: absolute;
    right: 0;
}
nav img {
    margin: auto;
}
.visibilidade {
    width: 259px;
    height: max-content;
    display: flex;
    justify-content: flex-end;
}

/* .teste {
    width: 375px;
    height: 40px;
    background: #DCDCDC; 
    display: flex;
    align-items: center;
} */
p2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}
p2 span {
    font-weight: 400;
    color: #AAAAAA;
}
.remove {
    display: none;
}